
body {
	background-color: black;
	color:  white;
	font-family: sans-serif;
}

#state {
	padding: 5px;
}

#state.okay {
	background-color: #green;
}

#state.error {
	background-color: red;
}

#statusTable {
	color: #ddd;
	background-color: #222;
	padding: 3px;
}

#statusTable th td {
	text-align: left;
}

#statusTable td {
	padding: 3px;
}

#statusTable tr.failed td {
	color: #444;
	font-style: italic;
}

#statusTable tr.loading {
	color: #fff;
}
